<script>
var haloMenu = new window.haloMenu();

$(document).ready(function() {
    /* Megamenu Settings */
    haloMenu.menuItem(1).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(2).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(3).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(4).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(5).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(6).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(7).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(8).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(9).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(10).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(11).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(12).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(13).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(14).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(15).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(16).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
    haloMenu.menuItem(17).HaloMegaMenu({
        dropAlign: 'right-edge',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',    // width of images area
        cateAreaWidth: '100%',     // width of categories area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
       
    });
   
});
</script>
