<div class="autoimex_service autoimex-section">
    <div class="service-item">
        <div class="service-wrapper">
            <div class="item-image">
                <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <h3 class="title">Free Shipping Wordwide</h3>
        </div>
    </div>
    <div class="service-item">
        <div class="service-wrapper">
            <div class="item-image">
                <i class="fa fa-shield" aria-hidden="true"></i>
            </div>
            <h3 class="title">Secure Shopping</h3>
        </div>
    </div>
    <div class="service-item">
        <div class="service-wrapper">
            <div class="item-image">
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <h3 class="title">Rewards Program</h3>
        </div>
    </div>
    <div class="service-item">
        <div class="service-wrapper">
            <div class="item-image">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </div>
            <h3 class="title">30-days Free Returns</h3>
        </div>
    </div>
</div>
