{{#partial "page"}}
<div class="page-heading-wrapper-2">
	<div class="autoimex_container">
	{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
<main class="page">
	<div class="autoimex_container">
	    <section class="page-content autoimex_403 text-center">
	        <h1 class="page-heading">{{lang 'forbidden.page_heading'}}</h1>
	        <p class="u-textAlignCenter">
	            {{lang 'forbidden.if_you_were_signed_in'}}
	            <a href="{{urls.auth.login}}">{{lang 'forbidden.sign_in'}}</a>
	            {{lang 'forbidden.to_continue'}}
	        </p>
	        <div class="search-page">
	        	{{> components/common/search-box}}
	        </div>
	    </section>
	</div>
</main>
{{/partial}}
{{> layout/base}}
