{{#partial "page"}}
<div class="page-heading-wrapper-2">
	<div class="autoimex_container">
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
<main class="page">
	<div class="autoimex_container">
	    <section class="page-content autoimex_404 text-center">
	    	<h1 class="page-404">{{lang 'page_not_found.404'}}</h1>
	        <h2 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
	        <p class="u-textAlignCenter">
	            {{lang 'page_not_found.message'}}
	        </p>
	        <div class="search-page">
	        	{{> components/common/search-box}}
	        </div>
	    </section>
	</div>
</main>
{{/partial}}
{{> layout/base}}
