---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
         limit: {{theme_settings.homepage_top_products_count}}
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}
{{#partial "page"}}
<div class="page">
    <div class="autoimex_container">
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
        <main class="page-content" id="product-listing-container">
            <div class="navPages-container">
                <div class="autoimex_navPages-item text-left">
                    {{#if page_type '===' 'default'}}
                        <h1 class="header-logo">
                            {{> components/common/store-logo}}
                        </h1>
                    {{else}}
                        <div class="header-logo">
                            {{> components/common/store-logo}}
                        </div>
                    {{/if}}
                </div> 
                <div class="autoimex_navPages-item" id="menu" data-menu>
                    {{> components/common/navigation-menu}}
                </div>
                <div class="autoimex_navPages-item text-right">
                    <div class="items">
                        <a class="navPages-icon" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                            <span class="text-hidden">search icon</span>
                            <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                        </a>
                    </div>
                    <div class="items navUser-item--cart top-cart">
                        <a
                            class="navPages-icon"
                            data-cart-preview
                            data-options="align:right"
                            href="{{urls.cart}}">
                            <span class="text-hidden">cart icon</span>
                            <div class="navUser-item-cartIcon">
                                <svg class="icon"><use xlink:href="#icon-cart"></use></svg><span class="countPill countPill--positive cart-quantity">{{#if cart.items}}{{cart.quantity}}{{else}}0{{/if}}</span>
                            </div>
                        </a>
                        <div class="dropdown-cart" id="cart-preview-dropdown2" aria-hidden="true"></div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="page-heading-wrapper">
                <div class="autoimex_container autoimex_breadcrumbCategory">
                    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
                </div>
            </div>
            {{{region name="category_below_header"}}}
            <!--  -->
            <!--  -->
            {{#if category.products}}
                {{> components/category/product-listing}}
            {{else}}
                <p>{{lang 'categories.no_products'}}</p>
            {{/if}}
        </main>
    </div>
    {{{region name="category_below_content"}}}
</div>
{{/partial}}
{{> layout/base}}
