// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------

/*==========================================
=            Defaul Bigcommerce            =
==========================================*/
    .card-figure {
        margin-top: $card-figure-marginTop;
        position: relative;
        &:hover {

            // scss-lint:disable NestingDepth
            .card-figcaption {
                opacity: 1;
            }
        }
    }

    .card-img-container {
        max-width: get-width(stencilString('productgallery_size'));

        @include lazy-loaded-padding('productgallery_size');
    }

    .card-figcaption {
        display: none;
        margin: $card-figcaption-margin;
        pointer-events: none; // 1

        @include breakpoint("medium") {
            display: block;
        }
    }

    .card-figcaption-body {
        display: $card-figcaption-body-display;
        pointer-events: all; // 1
        transform: translate3d(0, -50%, 0); // 2
    }

    .card-image {
        @include lazy-loaded-img;
        border: 0;
        width: 100%;
        max-height: 100%;
    }

    .card-title {
        font-size: $card-title-fontSize;
        margin: $card-title-margin;

        > a {
            color: $card-title-color;
            text-decoration: $card-title-textDecoration;

            // scss-lint:disable NestingDepth
            &:hover {
                color: $card-title-color-hover;
            }
        }
    }
    #sideTopSellers,#sideTopSellers1{
        .card{
            .card-figure{
                .quickview{
                    @media (min-width: 1025px){
                        padding: 3px 15px;
                    }
                }
            } 
            &:before{
                content: none;
            }
        }
        .productCarousel {
            .slick-arrow{
                fill: black;
            }
            .slick-prev{
                left: 15px;
            }
            .slick-next{
                right: 15px;
            }

        }
        .slick-dots{
            display: none !important;
        }
    }
    .page-type-category{
        #sideBannerImage{
        }
        #sideCustomCMS {
        }
    }
    .productCarousel {
        .slick-list{
            padding: 0;
            z-index: 3;
            @media (max-width: 1024px){
                padding:0;
            }
            
        }
    }


    .card-text {
        margin-bottom: $card-text-marginBottom;

        abbr {
            border: 0;
            color: inherit;
            font-size: inherit;
        }
    }

    .card-figcaption-button {
        border: $card-figcaption-button-border;
        display: $card-figcaption-button-display;
        margin: $card-figcaption-button-margin;

        &:active {
            background-color: $card-figcaption-button-backgroundHover;
            border: $card-figcaption-button-border;
        }

        + .card-figcaption-button {
            margin: $card-figcaption-button-margin;
        }
    }

    .card-body {
        text-align: left;

        @include breakpoint("small") {
            text-align: left;
        }
    }

/*=====  End of Defaul Bigcommerce  ======*/


    .card {
        margin-bottom: 40px;
        border: none;
        .card-figure {
            padding-bottom: 36px;
            overflow: hidden;
            position: relative;
            @media (max-width: 991px){
                padding-bottom: 25px;
            }
            .card-link {
                z-index: 2;
                display: block;
                position: relative;
                // margin-bottom: 27px;
                + .card_optionImage{
                    margin-bottom: 0;
                }
            }
            .wishlist, .quickview {
                display: none;
            }
            .button {
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
                z-index: 5;
                color: #ffffff;
                border-radius: 0;
                position: absolute;
                border-color: #323232;
                background-color: #323232;
            }
            @media (max-width: 414px) {
                .button {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            @media (max-width: 320px) {
                .button {
                    font-size: 11px;
                    font-weight: 700;
                    letter-spacing: 0;
                }
            }
        }
        .card-body {
            padding-top: 10px;
            .card-compare-rating{
                .card-rating{
                    display: inline-block;
                    margin-right: 31px;
                }
                .card-compare{
                    display: inline-block;
                    @media (max-width: 1024px){
                        display: none;
                    }
                }
            }
            .card-detail{
                    @media (max-width: 1024px){
                        min-height: 126px;
                        overflow: hidden;
                    }
            }
            .card-brand {
                font-family: $fontFamily-headings;
                display: block;
                color: #787878;
                line-height: 1;
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 7px;
                text-transform: unset;
                letter-spacing: 0;
                + .card-title {
                    margin-top: 0;
                } 
            }
            .card-title {
                color: #323232;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                margin: 0 0 3px 0;
                letter-spacing: 0;
                transition: all 0.3s ease;
                margin-top: 19px;
                height: 40px;
                overflow: hidden;
                > a {
                    font-family: $fontFamily-sans;
                    transition: none;
                    color: stencilColor("card-title-color");
                    letter-spacing: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    &:hover {
                        span{
                            color: stencilColor("card-title-color-hover");
                            background-image: linear-gradient(transparent 95%, stencilColor("card-title-color") 5%);
                            background-repeat: repeat-x;
                            background-position-y: 0px;
                            padding-bottom: 1px;
                        }
                    }
                    
                }
                
            }
            .card-price {
                    font-family: $fontFamily-sans;
                    font-size: 13px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #000000;
                .price-section {
                    margin-right: 5px;
                    vertical-align: top;
                    display: inline-block;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.price-section--withoutTax {
                        color: #e22600;
                    }
                    &.price-section--withTax {
                        color: #e22600;
                    }                     
                    &.rrp-price--withoutTax {
                        color: #b4b4b4;
                    }
                    &.rrp-price--withTax {
                        color: #b4b4b4;
                    }
                    &.non-sale-price--withoutTax {
                        color: #b4b4b4;
                    }
                    &.non-sale-price--withTax {
                        color: #b4b4b4;
                    }
                    &.price-none {
                        display: none;
                        + .price-section--withoutTax {
                            color: #000000;
                        } 
                        + .price-section--withTax {
                            color: #000000;
                        }                         
                    }
                    &.price-range{
                        + .price-section--withoutTax {
                            color: #000000;
                        } 
                        + .price-section--withTax {
                            color: #000000;
                        }                     
                    }
                }
            }
            .card-compare {
                display: none;
            }
            .price-wrapper {
                width: 100%;
                vertical-align: top;
                display: inline-block;
                margin-bottom: 7px;
            }
            .card-rating {
                margin: 0;
                line-height: 1;
                margin-bottom: 16px;
                .rating--small {
                    vertical-align: top;
                    .icon {
                        margin-top: 0;
                        vertical-align: top;
                    }
                }
            }
            .card-actions{
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease;
                @media (max-width: 1024px) {
                    opacity: 1;
                    visibility: visible;
                }
                .wishlist{
                    display: none;
                }
            }
        }
        @media (min-width: 415px) {
            .card-figure {
                padding-bottom: 42px;
            }
        }
        @media (min-width: 1025px) {
            margin-bottom: 50px;
            position: relative;
            padding: 0 0px 20px 0px;
            .card-figure {
                padding-bottom: 0;
                .wishlist {
                    top: 0px;
                    left: 0px;
                    margin: 0;
                    z-index: 5;
                    position: absolute;
                    display: inline-block;
                    background-color: transparent;
                    svg {
                        width: 20px;
                        height: 18px;
                        fill: stencilColor("button-icon-wishlist-background-color");
                    }
                }
                .quickview {
                    top: 50%;
                    left: 50%;
                    z-index: 5;
                    min-width: 102px;
                    text-align: center;
                    color: stencilColor("button-quick-view-text-background-color");
                    font-size: 11px;
                    font-weight: 700;
                    position: absolute;
                    vertical-align: top;
                    padding: 0px 15px;
                    line-height: 24px;
                    margin: 0 auto;
                    text-transform: uppercase;
                    display: inline-block;
                    background-color: stencilColor("button-quick-view-background-color");
                    border-radius: 20px;
                    box-shadow: 0 1px 4px rgba(0,0,0,.15);
                    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.15);
                    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.15);
                    -ms-box-shadow: 0 1px 4px rgba(0,0,0,.15);
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    @media (max-width: 1158px){
                        min-width: 97px;
                    }
                    &:hover {
                        text-decoration: none;
                        color: stencilColor("button-quick-view-text-background-color-hover");
                        background-color: stencilColor("button-quick-view-background-color-hover");
                        &:before {
                            width: 100%;
                        }
                    }
                }
                .button, .wishlist, .quickview {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            .card-img-container:before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                content: "";
                opacity: 0;
                position: absolute;
                visibility: hidden;
                transition: all 0.5s ease;
                // background-color: rgba(0,0,0,0.3);
            }
            .card-body {
                position: relative;
                z-index: 2;
                .card-compare {
                    color: #787878;
                    line-height: 14px;
                    display: block;
                    margin-top: 0;
                    margin-bottom: 4px;
                    font-weight: 400;
                    font-size: 12px;
                    > input {
                        top: 1px;
                        position: relative;
                        margin-right: 2px;
                        vertical-align: top;
                    }
                }
                .price-wrapper {
                    .card-price {
                        // float: left;
                    }
                    .card-compare {
                        float: right;
                    }
                }
            }
            &:hover {
                z-index: 10;
                &:before {
                    opacity: 1;
                    visibility: visible;
                }
                .card-figure {
                    .button, .wishlist, .quickview {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .card-img-container:before {
                    opacity: 1;
                    visibility: visible;
                }
                .card-body {
                    .card-actions{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .card-desciption {
        display: none;
    }
    .column-1{
        .card{
            @media (min-width: 1025px) {
                padding: 0 0px 17px 0px;
                &:before{
                    -ms-transform: scaleX(1.1); /* IE 9 */
                    -webkit-transform: scaleX(1.1); /* Safari */
                    transform: scaleX(1.1);
                }
                &:hover{
                    .card-body {
                        .card-actions{
                            -ms-transform: none; /* IE 9 */
                            -webkit-transform: none; /* Safari */
                            transform: none;
                        }
                    }
                }
            }
        }
    }
    
.card-img-container {
    img {
        transition: all 0.5s ease;
    }
    .product-additional {
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: 5;
        position: absolute;
        visibility: hidden;
        filter: alpha(opacity=0);
        transition: all .6s ease;
    }
}
.card {
    .card-figure a{
        @media (min-width: 1025px) {
            &:hover {
                .card-img-container:before {
                    opacity: 1;
                    visibility: visible;
                }
                .card-figcaption,
                .card-figcaption2 {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }
        }
    }
    .card-img-hover {
        .product-additional {
            opacity: 0;
            visibility: hidden;
            // @media (max-width: 1024px){
            //     opacity: 1;
            //     visibility: visible;
            // }
        }
        &:hover{
            .card-image {
                opacity: 0;
                visibility: hidden;
            }
            .product-additional {
                opacity: 1;
                visibility: visible;
            }
        }
    }

     @media (min-width: 1025px) {
        &:hover {
            .card-body .card-figcaption {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
        }
    }
}

