{{#partial "page"}}
<div class="page-heading-wrapper-2">
	<div class="autoimex_container">
	    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	    <h2 class="page-heading">{{lang 'account.addresses.heading' }}</h2>
	</div>
</div>
<div class="page">
    <div class="autoimex_container">
	    {{> components/account/navigation account_page='addresses'}}
	    <div class="account autoimex_account">
	        <div class="account-body">
	            {{> components/account/address-list }}
	        </div>
	    </div>
	</div>
</div>
{{/partial}}
{{> layout/base}}
