{{#partial "page"}}
{{#if settings.show_wishlist}}
<div class="page-heading-wrapper-2">
	<div class="autoimex_container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.wishlists.heading' }}</h2>
</div>
</div>
<div class="page">
    <div class="autoimex_container">
        {{> components/account/navigation account_page='wishlists'}}
	    <div class="account autoimex_account">
	        {{> components/account/wishlist-list}}
	    </div>
	</div>
</div>
{{/if}}
{{/partial}}
{{> layout/base}}
