 <div class="category-heading">
    {{#if category.image}}
        <div class="category-image"><img src="{{getImage category.image 'zoom_size'}}"></div>
    {{/if}}
    <div class="content-category">
        <h1 class="page-heading">{{category.name}}</h1>
        {{#if category.description}}
            <div class="category-description">
                {{{category.description}}}
            </div>
        {{/if}}
    </div>
</div>
<div class="autoimex_products-filter autoimex_sidebar-mobile-wrapper">
    <div class="item text-left">
        <div class="autoimex_sidebar-mobile">
            <span class='text'>sidebar</span>
            <svg class="icon"><use xlink:href='#sidebar'></use></svg>
        </div>
        <div class="view-mode-btn actionBar">
            {{> components/common/paginator pagination.category total=category.total_products}}
    </div>
    </div>
    <div class="autoimex_categoryToolbar">
    {{> components/products/filter sort=pagination.category.sort}}
    </div>  
</div>

<form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{#if settings.data_tag_enabled}}
            {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings productsnew=../products.new event="list"}}
        {{else}}
            {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings productsnew=../products.new}}
        {{/if}}     
    {{else}}
        {{#if settings.data_tag_enabled}}
            {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings productsnew=../products.new event="list"}}
        {{else}}
            {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings productsnew=../products.new}}
        {{/if}}
    {{/if}}
</form>
<div class="product-pagination">
    {{> components/common/paginator pagination.category total=category.total_products}}
</div>
